.home {
    background-image: url("https://www.foundationeducation.edu.au/sites/default/files/how%20to%20study%20from%20home.jpg");
    /* background-repeat: no-repeat; */
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;



}

.home-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    padding-top: 250px;
}