.notFound {
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/711/857/original/detective-holding-a-magnifying-glass-behind-404-text-error-404-page-not-found-system-maintenance-vector.jpg');
    background-size: cover;
}

.button {
    margin-bottom: 60%;
}